*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.banner{
    width: 1226px;
    height: 460px;
    background: black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}
.switchover{
    width: 41px;
    height: 69px;
    /*background:red;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    z-index:100 ;
    background-image: url("../img/images/icon-slides.png");
    background-position: -83px 0;

}
.switchover:hover{
    background-position: 0 0;
}
.switchoverr{
    width: 41px;
    height: 69px;
    /*background:red;*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    z-index: 100;
    background-image: url("../img/images/icon-slides.png");
    background-position: 41px 0;

}
.switchoverr:hover{
    background-position: 124px 0;
}
.banner-img li{
    width: 1226px;
    height: 460px;
    position: absolute;
    top:0;
    left:1226px;


}
.banner-img li:nth-of-type(1){
    left:0;
}
.banner-img li a img{
    display:block;
    width: 100%;


}
.banner-img{
    position: relative;
}



.Round-frame{
    width: 90px;
    height: 60px;


    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.round-frame{
    border-radius: 50%;
    float: left;
    width: 6px;
    height: 6px;
    background: #92897c;
    border: 2px solid #b3ada4;
    margin-right: 10px;
    margin-top: 25px;

}
.round-frame:hover{
    background: #fff;
}
.Round-frame div:first-child{
    background: #fff;

}

.Round-frame div:last-child{
    margin-right: 0;
    /*background: #ffffff;*/
}
